@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");
.modal-img__wrapper, .form input, .modal__wrapper, .portfolio-card-img, .btn, .content, .photographer {
  border-radius: 5px;
}

.modal, .count-like {
  display: flex;
  align-items: center;
  justify-content: center;
}

#photographer__img, .gallery__card__artist__img {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: rgba(255, 255, 255, 0.747);
  font-family: "DM Sans", sans-serif;
}

nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 4rem;
}
nav h1 {
  font-size: 36px;
  font-weight: 400;
  color: #901c1c;
}
@media screen and (max-width: 910px) {
  nav h1 {
    font-size: 1rem;
  }
}
@media screen and (max-width: 1350px) {
  nav {
    justify-content: space-around;
  }
}
@media screen and (max-width: 910px) {
  nav {
    margin: 0;
    justify-content: space-between;
  }
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 6rem;
}
@media screen and (max-width: 910px) {
  .gallery {
    margin-top: 0;
  }
}

.gallery__card {
  width: 20rem;
  margin: 2rem 6rem;
}
@media screen and (max-width: 910px) {
  .gallery__card {
    margin: 1rem 1rem;
  }
}
.gallery__card__artist {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
}
.gallery__card__artist__img {
  width: 200px;
  height: 200px;
  margin-bottom: 1.5rem;
}
.gallery__card__artist__name {
  color: #d3573c;
  font-size: 36px;
  font-weight: 400;
}
.gallery__card__about {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gallery__card__about > * {
  margin-bottom: 0.2rem;
}
.gallery__card__about__location {
  color: #901c1c;
  font-size: 13px;
  font-weight: 400;
}
.gallery__card__about__text {
  font-size: 10px;
  font-weight: 400;
}
.gallery__card__about__rates {
  font-size: 9px;
  font-weight: 400;
  color: #757575;
}

header {
  margin: 2rem 4rem;
}
@media screen and (max-width: 910px) {
  header {
    margin: 3rem 1.5rem;
    margin-bottom: 1rem;
  }
}

.count-like > p {
  width: 22px;
  height: 31px;
}

.photographer {
  position: relative;
  margin: 1rem 4rem;
  display: flex;
  justify-content: space-between;
  background-color: #fafafa;
  padding: 3rem;
}
@media screen and (max-width: 910px) {
  .photographer {
    background-color: transparent;
    margin: 2rem 1.5rem;
    padding: 0;
  }
}
.photographer__section {
  display: flex;
  width: 80%;
}
@media screen and (max-width: 910px) {
  .photographer__section__btn {
    position: fixed;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%, 0);
  }
}

.photographer__section__about {
  margin-right: 5rem;
}
@media screen and (max-width: 910px) {
  .photographer__section__about {
    margin: 0;
  }
}
.photographer__section__about > * {
  margin-bottom: 1rem;
}
@media screen and (max-width: 910px) {
  .photographer__section__about > * {
    margin: 0;
  }
}
.photographer__section__about__artist {
  font-size: 64px;
  font-weight: 400;
  color: #d3573c;
}
@media screen and (max-width: 910px) {
  .photographer__section__about__artist {
    font-size: 3rem;
  }
}
.photographer__section__about__location {
  font-size: 24px;
  font-weight: 400;
  color: #901c1c;
}
@media screen and (max-width: 910px) {
  .photographer__section__about__location {
    font-size: 1.2rem;
  }
}
.photographer__section__about__text {
  font-size: 18px;
  font-weight: 400;
  color: #525252;
}
@media screen and (max-width: 910px) {
  .photographer__section__about__text {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 910px) {
  #filter {
    margin-top: 0.2rem;
  }
}

.daily-rate {
  position: fixed;
  bottom: 0;
  right: 1rem;
  display: flex;
  background-color: #db8876;
  color: black;
  border-radius: 5px 5px 0 0;
  padding: 1.3rem 1.5rem 1rem 1.5rem;
  font-size: 24px;
  font-weight: 500;
}
@media screen and (max-width: 910px) {
  .daily-rate {
    display: none;
  }
}
.daily-rate > p:nth-of-type(1) {
  margin-right: 3rem;
}
.daily-rate > p:nth-of-type(1) span {
  margin-right: 0.2rem;
}

.portfolio-container {
  margin-left: 4rem;
}
@media screen and (max-width: 910px) {
  .portfolio-container {
    margin: 0 1.5rem;
  }
}
.portfolio-container__select {
  display: flex;
  align-items: baseline;
}
@media screen and (max-width: 910px) {
  .portfolio-container__select {
    display: none;
  }
}
.portfolio-container__select > label {
  margin-right: 1rem;
  font-size: 18px;
  font-weight: 700;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-top: 3rem;
}
.portfolio__card {
  margin-right: 4rem;
  margin-bottom: 2rem;
}
@media screen and (max-width: 910px) {
  .portfolio__card {
    width: 100%;
    margin: 0;
    margin-bottom: 1rem;
  }
}
.portfolio__card__about {
  display: flex;
  justify-content: space-between;
  color: #901c1c;
  padding-top: 0.5rem;
  font-size: 24px;
  font-weight: 400;
}

.count-like span {
  margin-right: 0.2rem;
}

.content {
  text-decoration: none;
  color: black;
  background-color: #d3573c;
  padding: 0.3rem 0.7rem;
  font-size: 18px;
  font-weight: 700;
  position: fixed;
  left: 50%;
  top: 1%;
  opacity: 0;
  transform: translate(-50%);
  transition: opacity 0.3s;
}

.btn {
  background-color: #901c1c;
  color: #fafafa;
  font-size: 20px;
  font-weight: 700;
  width: 170px;
  height: 69px;
  border: none;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn:hover {
  background-color: #d3573c;
  color: black;
}
@media screen and (max-width: 910px) {
  .btn {
    width: 200px;
    height: 40px;
  }
}

@media screen and (max-width: 1350px) {
  .navigation-filter {
    order: 3;
    margin-top: 2rem;
  }
}
@media screen and (max-width: 910px) {
  .navigation-filter {
    justify-content: center;
  }
}
@media screen and (max-width: 910px) {
  .navigation-filter li {
    margin-top: 0.3rem;
  }
}

ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#filter {
  justify-content: flex-start;
}

li {
  position: relative;
  border: 0.5px solid #c4c4c4;
  border-radius: 11px;
  margin-right: 0.3rem;
  box-sizing: border-box;
  padding: 0 0.3rem;
  color: #901c1c;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 12px;
  font-weight: 500;
}
@media screen and (max-width: 910px) {
  li {
    font-size: 1rem;
  }
}
li:hover {
  color: #fafafa;
  background-color: #901c1c;
}
@media screen and (max-width: 910px) {
  li {
    margin-top: 0.3rem;
  }
}

.select {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 170px;
  height: 69px;
  color: #fafafa;
}
.select__opt {
  opacity: 0;
  position: absolute;
  left: -99999px;
}
.select:hover {
  cursor: pointer;
}
.select label:first-of-type {
  border-radius: 5px 5px 0 0;
}
.select label:first-of-type::before {
  content: "";
  border-top: none;
}
.select label:last-of-type {
  border-radius: 0 0 5px 5px;
}
.select label::before {
  position: absolute;
  content: "";
  left: 5%;
  top: 0;
  height: 1px;
  width: 90%;
  border-top: #fafafa solid 1.5px;
}

.option {
  padding: 0 30px 0 10px;
  min-height: 40px;
  display: flex;
  align-items: center;
  background: #901c1c;
  position: absolute;
  top: 0;
  width: 100%;
  pointer-events: none;
  order: 2;
  z-index: 1;
  transition: background-color 0.4s ease-in-out;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
  font-size: 18px;
  font-weight: 700;
}
.option:hover {
  background: #bb2424;
  cursor: pointer;
}

.select:focus .option {
  position: relative;
  pointer-events: all;
}

.select__opt:checked + label {
  order: 1;
  z-index: 2;
  background: #901c1c;
  border-top: none;
  position: relative;
}

.select__opt:checked + label:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
  position: absolute;
  right: 10px;
  top: calc(50% - 2.5px);
  pointer-events: none;
  z-index: 3;
}

img {
  object-fit: cover;
}

video {
  object-fit: cover;
}

.logo {
  width: 200px;
}
@media screen and (max-width: 910px) {
  .logo {
    width: 11rem;
  }
}

#photographer__img {
  width: 200px;
  height: 200px;
}
@media screen and (max-width: 910px) {
  #photographer__img {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
    top: -0.5rem;
  }
}

.portfolio-card-img {
  width: 350px;
  height: 300px;
}
@media screen and (max-width: 910px) {
  .portfolio-card-img {
    width: 100%;
    height: 190px;
    object-position: 0 20%;
  }
}

.svg-heart {
  width: 17.5px;
  height: 18.35px;
}

.like {
  width: 17.5px;
  height: 18.35px;
}

.fully-heart {
  stroke: #fafafa;
  fill: #901c1c;
}

.empty-heart {
  fill: #fafafa;
  stroke: #901c1c;
  stroke-width: 1rem;
}

.modal {
  overflow-y: auto;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
}
.modal__wrapper {
  left: 30%;
  position: relative;
  background-color: #db8876;
  width: 40%;
  overflow: auto;
  animation-name: modalopen;
  animation-duration: 0.8s;
}
.modal__wrapper__title {
  position: relative;
  font-size: 64px;
  font-weight: 400;
  margin: 1rem 2rem;
  width: 80%;
}
@media screen and (max-width: 910px) {
  .modal__wrapper__title {
    margin: 2rem 2rem;
    font-size: 2rem;
  }
}
.modal__wrapper__close {
  color: white;
  position: absolute;
  top: 0.5rem;
  right: 0;
  cursor: pointer;
}
@media screen and (max-width: 910px) {
  .modal__wrapper__close {
    top: -0.5rem;
    right: 0rem;
  }
}
@media screen and (max-width: 910px) {
  .modal__wrapper {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
}
@media screen and (max-width: 910px) {
  .modal__wrapper:last-child {
    align-items: center;
  }
}

.modal-close {
  height: 3.3rem;
}
@media screen and (max-width: 910px) {
  .modal-close {
    width: 1.5rem;
  }
}

.form {
  margin: 1rem 2rem;
  color: #312e2e;
  font-size: 36px;
  font-weight: 400;
}
@media screen and (max-width: 910px) {
  .form {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 910px) {
  .form > * {
    margin-top: 1.2rem;
  }
}
.form input {
  width: 100%;
  border: none;
  font-size: 36px;
  font-weight: 400;
  height: 68px;
}
@media screen and (max-width: 910px) {
  .form input {
    height: 3rem;
    font-size: 1.5rem;
  }
}
.form div:last-child input {
  height: 170px;
}
@media screen and (max-width: 910px) {
  .form div:last-child input {
    height: 10rem;
  }
}
@media screen and (max-width: 910px) {
  .form__firstname__input {
    margin-top: 0.5rem;
  }
}
@media screen and (max-width: 910px) {
  .form__lastname__input {
    margin-top: 0.5rem;
  }
}
@media screen and (max-width: 910px) {
  .form__email__input {
    margin-top: 0.5rem;
  }
}
.form__text {
  margin-top: 1rem;
}
@media screen and (max-width: 910px) {
  .form__text {
    margin-top: 2rem;
  }
}
@media screen and (max-width: 910px) {
  .form__text__input {
    margin-top: 0.5rem;
  }
}

#modal-btn {
  margin: 1rem 2rem;
}
@media screen and (max-width: 910px) {
  #modal-btn {
    margin: 2rem 50%;
    transform: translate(-50%, 0);
  }
}

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}
.modal-img {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 2;
  color: #901c1c;
}
.modal-img__wrapper {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: relative;
  width: 80%;
  height: 70%;
  display: flex;
  justify-content: space-around;
  overflow: hidden;
}
@media screen and (max-width: 910px) {
  .modal-img__wrapper {
    align-items: center;
    height: 90%;
    width: 100%;
  }
}
.modal-img__wrapper__chevron {
  width: 4rem;
  cursor: pointer;
}
@media screen and (max-width: 910px) {
  .modal-img__wrapper__chevron {
    width: 1rem;
  }
}
.modal-img__wrapper__card {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 100%;
}
@media screen and (max-width: 910px) {
  .modal-img__wrapper__card {
    width: 83%;
  }
}
.modal-img__wrapper__card__title {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  margin-top: 0.5rem;
}
@media screen and (max-width: 910px) {
  .modal-img__wrapper__card__title {
    background-color: #901c1c;
    color: #fafafa;
    border-radius: 5px;
  }
}
.modal-img__wrapper__card__cross {
  position: absolute;
  width: 4rem;
  right: -6rem;
  cursor: pointer;
}
@media screen and (max-width: 910px) {
  .modal-img__wrapper__card__cross {
    width: 1.5rem;
    right: -1.7rem;
  }
}

.error--msg--modal {
  font-size: 1rem;
  color: #251d1d;
}

#modal-img {
  overflow: hidden;
  object-position: 0 30%;
}

#lightbox {
  flex: 80;
  overflow: hidden;
}
#lightbox img,
#lightbox video {
  height: 100%;
  width: 100%;
  object-fit: contain;
}
@media screen and (max-width: 910px) {
  #lightbox img,
#lightbox video {
    object-fit: cover;
  }
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10;
  animation: lightboxIn 0.5s;
}
.lightbox__next, .lightbox__prev {
  border: none;
  background: url(../../public/img/svg/arrow.svg) center center/100% 100%;
  width: 16px;
  height: 28px;
  position: fixed;
  right: 0;
  top: 50%;
  margin-top: -14px;
  z-index: 11;
}
.lightbox__prev {
  right: auto;
  left: 0;
  transform: rotate(180deg);
}
.lightbox__close {
  width: 30px;
  height: 30px;
  border: none;
  background: url(../../public/img/svg/cross.svg) center center/100% 100% transparent;
  position: fixed;
  top: 20px;
  right: 10px;
  opacity: 0.5;
}
.lightbox button {
  opacity: 0.5;
  cursor: pointer;
  transition: 0.3s;
  text-indent: -30000px;
}
.lightbox button:hover {
  opacity: 1;
}
.lightbox__container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 50px;
  margin-right: 50px;
}
.lightbox__container img {
  max-width: 100%;
  max-height: 100vh;
  animation: lightboxIn 0.5s;
}

@keyframes lightboxIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.border-component {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
