#gallery__card__img, .btn, select, .photographer {
  border-radius: 5px;
}

.count-like, .daily-rate > * {
  display: flex;
  align-items: center;
  justify-content: center;
}

.photographer__img-responsive, #photographer__img {
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
}

* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  background: rgba(255, 255, 255, 0.747);
}

header {
  margin: 2rem 4rem;
}

.count-like > p {
  width: 22px;
  height: 31px;
}

.photographer {
  margin: 1rem 4rem;
  display: flex;
  justify-content: space-between;
  background-color: #fafafa;
  padding: 3rem;
}
.photographer__section {
  display: flex;
}

.photographer__section__about {
  margin-right: 5rem;
}
.photographer__section__about > * {
  margin-bottom: 1rem;
}
.photographer__section__about h2 {
  font-size: 64px;
  color: #d3573c;
}
.photographer__section__about h3 {
  font-size: 24px;
  color: #901c1c;
}
.photographer__section__about p {
  font-size: 18px;
  color: #525252;
}

.daily-rate {
  position: absolute;
  bottom: 0;
  right: 1rem;
  display: flex;
  justify-content: space-around;
  background-color: #db8876;
  color: black;
  border-radius: 5px 5px 0 0;
  height: 4rem;
  width: 22rem;
}
.daily-rate > p span {
  margin-right: 0.2rem;
}

select {
  background-color: #901c1c;
  color: white;
}

.gallery-container {
  margin-left: 4rem;
}
.gallery-container > div {
  display: flex;
  align-items: baseline;
}
.gallery-container > div > label {
  margin-right: 1rem;
}

.gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 3rem;
}
.gallery__card {
  margin-right: 4rem;
  margin-bottom: 2rem;
}
.gallery__card__about {
  display: flex;
  justify-content: space-between;
  color: #901c1c;
  padding-top: 0.5rem;
}

.count-like span {
  margin-right: 0.2rem;
}

.btn {
  position: relative;
  background-color: #901c1c;
  color: #fafafa;
  width: 170px;
  height: 69px;
  border: none;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.btn:hover {
  background-color: #d3573c;
  color: black;
}

ul {
  list-style-type: none;
  display: flex;
}

li {
  position: relative;
  border: 0.5px solid #c4c4c4;
  border-radius: 11px;
  font-size: 12px;
  line-height: 16px;
  margin-right: 0.3rem;
  box-sizing: border-box;
  padding: 0 0.3rem;
  color: #901c1c;
  overflow: hidden;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
li:hover {
  color: #fafafa;
  background-color: #901c1c;
}

.select {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 170px;
  height: 69px;
  color: #fafafa;
}
.select:hover {
  cursor: pointer;
}
.select label:first-of-type {
  border-radius: 5px 5px 0 0;
}
.select label:first-of-type::before {
  content: "";
  border-top: none;
}
.select label:last-of-type {
  border-radius: 0 0 5px 5px;
}
.select label::before {
  position: absolute;
  content: "";
  left: 5%;
  top: 0;
  height: 1px;
  width: 90%;
  border-top: #fafafa solid 2px;
}

.option {
  padding: 0 30px 0 10px;
  min-height: 40px;
  display: flex;
  align-items: center;
  background: #901c1c;
  position: absolute;
  top: 0;
  width: 100%;
  pointer-events: none;
  order: 2;
  z-index: 1;
  transition: background 0.4s ease-in-out;
  box-sizing: border-box;
  overflow: hidden;
  white-space: nowrap;
}
.option:hover {
  background: #d93939;
  cursor: pointer;
}

.select:focus .option {
  position: relative;
  pointer-events: all;
}

input {
  opacity: 0;
  position: absolute;
  left: -99999px;
}

input:checked + label {
  order: 1;
  z-index: 2;
  background: #901c1c;
  border-top: none;
  position: relative;
}

input:checked + label:after {
  content: "";
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid white;
  position: absolute;
  right: 10px;
  top: calc(50% - 2.5px);
  pointer-events: none;
  z-index: 3;
}

img {
  object-fit: cover;
}

.logo {
  width: 200px;
  height: 50px;
}

#photographer__img {
  width: 200px;
  height: 200px;
}

.photographer__img-responsive {
  width: 100px;
  height: 100px;
}

#gallery__card__img {
  width: 350px;
  height: 300px;
}

.gallery__card__img-responsive {
  width: 335px;
  height: 190px;
}

svg {
  width: 15px;
}

.like {
  color: #901c1c;
}

/*# sourceMappingURL=style.css.map */
