img {
  object-fit: cover;
}
video {
  object-fit: cover;
}
.logo {
  width: 200px;
  // height: 50px;
  @include responsive-medium {
    width: 11rem;
  }
}

#photographer__img {
  width: 200px;
  height: 200px;
  @extend %shadow-radius;
  @include responsive-medium {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
    top: -0.5rem;
  }
}

.portfolio-card-img {
  width: 350px;
  height: 300px;
  @extend %radius;
  @include responsive-medium {
    width: 100%;
    height: 190px;
    object-position: 0 20%;
  }
}

.svg-heart {
  width: 17.5px;
  height: 18.35px;
}
.like {
  width: 17.5px;
  height: 18.35px;
}

.fully-heart {
  stroke: $light-grey;
  fill: $primary-color;
}

.empty-heart {
  fill: $light-grey;
  stroke: $primary-color;
  stroke-width: 1rem;
}
