img {
  object-fit: cover;
}
.logo {
  width: 200px;
  height: 50px;
}

#photographer__img {
  width: 200px;
  height: 200px;
  @extend %shadow-radius;
}

.photographer__img-responsive {
  width: 100px;
  height: 100px;
  @extend %shadow-radius;
}

#gallery__card__img {
  width: 350px;
  height: 300px;
  @extend %radius;
}

.gallery__card__img-responsive {
  width: 335px;
  height: 190px;
}

svg {
  width: 15px;
  // height: 20px;
}
.like {
  color: $primary-color;
}
