.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.3);
  @extend %flex-center;
  z-index: 2;
  &__wrapper {
    top: 10%;
    left: 30%;
    // top: 50%;
    // left: 50%;
    // transform: translate(-50%, -50%);
    position: relative;
    background-color: $tertiary-color;
    width: 669px;
    height: 900px;
    overflow: auto;
    animation-name: modalopen;
    animation-duration: 0.8s;
    @extend %radius;
    &__title {
      position: relative;
      @include font-family(64);
      margin: 1rem 2rem;
      @include responsive-medium {
        margin: 2rem 2rem;
        font-size: 2rem;
      }
    }
    &__close {
      color: white;
      position: absolute;
      top: 0.5rem;
      right: 0;
      cursor: pointer;
      @include responsive-medium {
        top: -0.5rem;
        right: 0rem;
      }
    }
    @include responsive-medium {
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
  }
  &__wrapper:last-child {
    @include responsive-medium {
      align-items: center;
    }
  }
}
.modal-close {
  height: 3.3rem;
  @include responsive-medium {
    width: 1.5rem;
  }
}

.form {
  margin: 1rem 2rem;
  color: #312e2e;
  @include font-family(36);
  @include responsive-medium {
    font-size: 1.5rem;
  }
  & > * {
    @include responsive-medium {
      margin-top: 1.2rem;
    }
  }
  & input {
    width: 100%;
    border: none;
    @extend %radius;
    @include font-family(36);
    height: 68px;
    @include responsive-medium {
      height: 3rem;
      font-size: 1.5rem;
    }
  }
  & div:last-child input {
    height: 170px;
    @include responsive-medium {
      height: 10rem;
    }
  }
  &__firstname {
    &__input {
      @include responsive-medium {
        margin-top: 0.5rem;
      }
    }
  }
  &__lastname {
    &__input {
      @include responsive-medium {
        margin-top: 0.5rem;
      }
    }
  }
  &__email {
    &__input {
      @include responsive-medium {
        margin-top: 0.5rem;
      }
    }
  }
  &__text {
    margin-top: 1rem;
    @include responsive-medium {
      margin-top: 2rem;
    }
    &__input {
      @include responsive-medium {
        margin-top: 0.5rem;
      }
    }
  }
}

#modal-btn {
  margin: 1rem 2rem;
  @include responsive-medium {
    margin: 2rem 50%;
    transform: translate(-50%, 0);
  }
}

@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
  }
}

// --------------------------------------
.modal-img {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 2;
  color: $primary-color;
  &__wrapper {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    @extend %radius;
    @include responsive-medium {
      align-items: center;
      height: 40%;
      // position: static;
      // transform: translate(0, 0);
      // width: 100%;
      // height: 100%;
    }
    &__chevron {
      width: 4rem;
      cursor: pointer;
    }
    &__card {
      position: relative;
      display: flex;
      flex-direction: column;
      width: 80%;
      height: 100%;
      @include responsive-medium {
        // width: 90%;
        // height: 80%;
      }
      &__title {
        @include font-family(20);
        margin-top: 0.5rem;
        @include responsive-medium {
          // display: none;
        }
      }
      &__cross {
        position: absolute;
        width: 4rem;
        right: -6rem;
        cursor: pointer;
        @include responsive-medium {
          width: 1.5rem;
          right: -1.7rem;
        }
      }
    }
  }
}

#modal-img {
  overflow: hidden;
  object-position: 0 30%;
  // width: 80%;
}
