header {
  margin: 2rem 4rem;
}
.count-like > p {
  width: 22px;
  height: 31px;
}

.photographer {
  margin: 1rem 4rem;
  display: flex;
  justify-content: space-between;
  background-color: $light-grey;
  @extend %radius;
  padding: 3rem;
  &__section {
    display: flex;
  }
}

.photographer__section__about {
  margin-right: 5rem;
  & > * {
    margin-bottom: 1rem;
  }
  &__artist {
    @include font-family(64);
    color: $secondary-color;
  }
  &__location {
    @include font-family(24);
    color: $primary-color;
  }
  &__text {
    @include font-family(18);
    color: $light-black;
  }
}

.daily-rate {
  position: fixed;
  bottom: 0;
  right: 1rem;
  display: flex;
  background-color: #db8876;
  color: black;
  border-radius: 5px 5px 0 0;
  padding: 1.3rem 1.5rem 1rem 1.5rem;
  @include font-family(24, 500);
  // justify-content: space-around;
  // height: 4rem;
  // width: 22rem;
  & > * {
    // @extend %flex-center;
  }
  & > p:nth-of-type(1) {
    margin-right: 3rem;
    span {
      margin-right: 0.2rem;
    }
  }
}

.portfolio-container {
  margin-left: 4rem;
  & > div {
    display: flex;
    align-items: baseline;
    & > label {
      margin-right: 1rem;
      @include font-family(18, 700);
    }
  }
}
.portfolio {
  flex-wrap: wrap;
  justify-content: space-between;
  // margin-left: 4rem;
  margin-top: 3rem;
  &__card {
    margin-right: 4rem;
    margin-bottom: 2rem;
    &__about {
      display: flex;
      justify-content: space-between;
      color: $primary-color;
      padding-top: 0.5rem;
      @include font-family(24);
    }
  }
}
.count-like {
  @extend %flex-center;
  span {
    margin-right: 0.2rem;
  }
}
